.button-align-center {
  text-align: center;
}

#activity-hidden {
  display: none;
}

#history-hidden {
  display: none;
}

#activity .year {
    width: 100%;
    position: relative;
    margin: 2em 0 1.5em 0;
    color: #4d4d4d; /*#bbb였음*/
		text-align: center;
		font-size: 1.5em;
    line-height: 1.5em;
}

#activity .year.first {
  margin-top: 1em;
}

#activity .header {
  margin: 0 !important;
}

@media (max-width: 980px) {
  .fb-web {
    display: none;
  }
}

@media (min-width: 981px) {
  .fb-mobile {
    display: none;
  }
}
